adagio==0.2.6
adtk==0.6.2
aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
alembic==1.13.1
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.14.2
asttokens==3.0.2
async-timeout==4.0.3
attrs==26.1.0
Babel==2.14.0
black==23.11.0
blinker==1.7.0
catboost==1.2.10
certifi==2026.6.17
charset-normalizer==3.3.2
click==8.4.2
cloudpickle==3.0.0
cmdstanpy==1.3.0
colorama==0.4.6
colorlog==6.11.0
comm==0.2.1
contourpy
coreforecast==0.0.18
coverage==7.15.2
cuda-bindings==13.3.1
cuda-pathfinder==1.5.6
cuda-toolkit==13.0.3.0
cycler==0.12.1
darts==0.46.0
debugpy==1.8.21
decorator==5.3.1
defusedxml==0.7.1
diskcache==5.6.3
docker==7.0.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.2.1
ExifRead==3.0.0
fastjsonschema==2.21.2
filelock==3.29.0
FLAML==2.1.2
Flask==3.0.2
fonttools==4.38.0
frozenlist==1.4.1
fsspec==2026.4.0
fugue==0.9.7
ghp-import==2.1.0
gitdb==4.0.11
GitPython==3.1.41
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
graphviz==0.21
greenlet==3.0.3
gunicorn==21.2.0
h11==0.16.0
hf-xet==1.5.2
holidays==0.100
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.24.0
idna==3.18
importlib_resources==7.1.0
iniconfig==2.0.0
ipykernel==7.3.0
ipympl==0.10.0
ipython==8.39.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
itsdangerous==2.1.2
jedi==0.20.0
Jinja2==3.1.3
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.9.1
jupyter_core==5.9.1
jupyterlab-widgets==3.0.9
kiwisolver
latexcodec==3.0.0
lightgbm==4.3.0
lightning-utilities==0.15.3
llvmlite==0.48.0
lxml==6.1.1
Mako==1.3.12
Markdown==3.5.2
MarkupSafe==2.1.5
matplotlib==3.10.9
matplotlib-inline==0.2.2
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-bibtex==2.14.1
mkdocs-caption==1.0.0
mkdocs-material==9.5.13
mkdocs-material-extensions==1.3.1
mlforecast==1.1.0
mpmath==1.3.0
msgpack==1.2.1
multidict==6.0.5
mypy-extensions==1.0.0
narwhals==2.24.0
nbformat==5.10.4
nest-asyncio2==1.7.2
networkx==3.4.2
neuralforecast==3.2.0
nfoursid==1.0.2
numba
numpy==2.2.6
# nvidia-cublas==13.1.1.3
# nvidia-cuda-cupti==13.0.85
# nvidia-cuda-nvrtc==13.0.88
# nvidia-cuda-runtime==13.0.96
# nvidia-cudnn-cu13==9.20.0.48
# nvidia-cufft==12.0.0.61
# nvidia-cufile==1.15.1.6
# nvidia-curand==10.4.0.35
# nvidia-cusolver==12.0.4.66
# nvidia-cusparse==12.6.3.3
# nvidia-cusparselt-cu13==0.8.1
# nvidia-nccl-cu12==2.30.7
# nvidia-nccl-cu13==2.29.7
# nvidia-nvjitlink==13.3.33
# nvidia-nvshmem-cu13==3.4.5
# nvidia-nvtx==13.0.85
odfpy==1.4.1
openpyxl==3.0.10
optuna==4.9.0
packaging==26.0
paginate==0.5.6
pandas==2.3.3
parso==0.8.7
pathspec==0.11.2
patsy==1.0.2
pexpect==4.9.0
pickleshare==0.7.5
pillow==12.2.0
platformdirs==4.1.0
plotly==6.9.0
pluggy==1.4.0
prompt_toolkit==3.0.52
propcache==0.5.2
prophet==1.3.0
protobuf==7.35.1
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
py4j==0.10.9.7
pyarrow==25.0.0
pybtex==0.24.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.17.2
pymdown-extensions==10.7.1
pyod==3.6.1
pypandoc==1.13
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip
pyreadr
pyspark==3.5.1
pytest==8.1.2
pytest-cov==4.1.0
python-dateutil==2.9.0.post0
pytorch-lightning==2.5.6
pytz==2026.2
PyYAML==6.0.3
pyyaml_env_tag==0.1
pyzmq==27.1.0
querystring-parser==1.2.4
ray==2.56.1
referencing==0.37.0
regex==2023.12.25
requests==2.34.2
rpds-py==0.30.0
ruff==0.1.7
ruptures==1.1.10
safetensors==0.8.0
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
shap==0.49.1
six==1.17.0
slicer==0.0.8
smmap==5.0.1
SQLAlchemy==2.0.27
sqlparse==0.4.4
stack-data==0.6.3
stanio==0.5.1
statsforecast==2.1.1
statsmodels==0.14.6
sympy==1.14.0
tablib==3.3.0
tabulate==0.9.0
tensorboardX==2.6.5
termcolor==2.4.0
threadpoolctl==3.6.0
tomli==2.0.1
torch==2.13.0
torchmetrics==1.9.0
tornado==6.5.7
tqdm==4.69.0
traitlets==5.15.1
triad==1.0.2
# triton==3.7.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.3
urllib3==2.7.0
utilsforecast==0.2.16
validators==0.22.0
watchdog==4.0.0
wcwidth==0.8.2
Werkzeug==3.0.1
widgetsnbextension==4.0.9
xarray==2025.6.1
xgboost==3.2.0
xlrd==2.0.1
yarl==1.24.2